<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SuspendHandling" value="false"/>
		<add key="PushToDestination" value="HomeAWEHome3"/>
		<add key="AllowOptionalAppConfig" value="true"/>
		<add key="UseConfigOverride" value="false"/>
		<add key="ConfigOverrideDir" value=""/>
		<add key="ForceVersionOverride" value="false"/>
		<add key="VersionOverride" value=""/>
		<add key="UseDateBasedVersion" value="false"/>
		<add key="AutoIncrementBuildNumber" value="false"/>
		<add key="NuGetDir" value="%APPDATA%\NuGet\"/>
		<add key="NuGetExeName" value="NuGet"/>
		<add key="DotNetDir" value="%PROGRAMFILES%\dotnet"/>
		<add key="DotNetName" value="dotnet"/>
		<add key="DotNetVerb" value="nuget"/>
		<add key="UseSimulator" value="false"/>
		<add key="DotNetSimulatorDir" value="%APPDATA%\NuGet\NuGetSimulator\"/>
		<add key="DotNetSimulatorExeName" value="NuGetSimulator.dll"/>
		<add key="NuGetSimulatorDir" value="%APPDATA%\NuGet\NuGetSimulatorFF\"/>
		<add key="NuGetSimulatorExeName" value="NuGetSimulatorFF"/>
		<add key="DefaultVerbosity" value="quiet"/>
		<add key="PackageHomeDir" value="%APPDATA%\NuGet\PackageHome\"/>
		<add key="RequireReleaseNotesFile" value="false"/>
		<add key="ReleaseNotesFileName" value="ReleaseNotes.txt"/>
		<add key="InjectDefaultReleaseNotes" value="true"/>
		<add key="DefaultReleaseNotes" value="No Custom Release Notes for"/>
		<add key="RequireSummaryFile" value="false"/>
		<add key="SummaryFileName" value="Summary.txt"/>
		<!--The DefaultDeleteFileName file will be stored in the PackageHomeDir-->
		<add key="DefaultDeleteFileName" value="DeleteFromNuGet.del"/>
		<add key="UseNuSpecFileIfAvailable" value="false"/>
		<add key="DeleteNuSpecFileAfterProcessing" value="true"/>
		<!--Replaceable Tokens-->
		<add key="BasePath" value=""/>
		<add key="ConfigFile" value=""/>
		<add key="VerbosityDotNet" value="minimal"/>
		<add key="VersionSuffixDotNet" value=""/>
		<add key="Exclude" value=""/>
		<add key="MinBuildVersion" value=""/>
		<add key="MinClientVersion" value=""/>
		<add key="MSBuildPath" value=""/>
		<add key="MSBuildVersion" value=""/>
		<add key="VerbosityNuGet" value="normal"/>
		<add key="VersionSuffixNuGet" value=""/>
		<add key="Properties" value=""/>
		<add key="Root" value=""/>
		<add key="RuntimeIdentifier" value=""/>
		<add key="Timeout" value=""/>
	</appSettings>
	<NuGetNuSpecSettings>
		<add key="ForceAuthors" value="false"/>
		<add key="Authors" value="Authored by Az Web Engineering - Project (NuGetHandler)"/>
		<add key="ForceCopyright" value="false"/>
		<add key="Copyright" value="Copyright © 2012 Az Web Engineering"/>
		<add key="ForceDescription" value="false"/>
		<add key="Description" value="App.config Description."/>
		<add key="ForceIconUrl" value="false"/>
		<add key="IconUrl" value=""/>
		<add key="ForceLicenseUrl" value="false"/>
		<add key="LicenseUrl" value=""/>
		<add key="ForceOwners" value="false"/>
		<add key="Owners" value="Owned By Az Web Engineering"/>
		<add key="ForceProjectUrl" value="false"/>
		<add key="ProjectUrl" value=""/>
		<add key="ForceReleaseNotes" value="false"/>
		<add key="ReleaseNotes" value="App.config Release Notes."/>
		<add key="ForceRequireLicenseAcceptance" value="false"/>
		<add key="RequireLicenseAcceptance" value="false"/>
		<add key="ForceSummary" value="false"/>
		<add key="Summary" value="App.config Summary"/>
		<add key="ForceTags" value="false"/>
		<add key="Tags" value="AWE"/>
		<add key="ForceTitle" value="false"/>
		<add key="Title" value=""/>
	</NuGetNuSpecSettings>
	<DotNetNuSpecSettings>
		<add key="UseNuGetNuSpecValues" value="false"/>
		<add key="ForceAssemblyVersion" value="false"/>
		<add key="AssemblyVersion" value=""/>
		<add key="ForceAuthors" value="true"/>
		<add key="Authors" value="Az Web Engineering authored this and it's noted in the NuGetHandler app.config file"/>
		<add key="ForceCompany" value="false"/>
		<add key="Company" value=""/>
		<add key="ForceCopyright" value="false"/>
		<add key="Copyright" value=""/>
		<add key="ForceDescription" value="false"/>
		<add key="Description" value=""/>
		<add key="ForceFileVersion" value="false"/>
		<add key="FileVersion" value=""/>
		<add key="ForcePackageIconUrl" value="false"/>
		<add key="PackageIconUrl" value=""/>
		<add key="ForcePackageLicenseUrl" value="false"/>
		<add key="PackageLicenseUrl" value=""/>
		<add key="ForcePackageProjectUrl" value="false"/>
		<add key="PackageProjectUrl" value=""/>
		<add key="ForcePackageReleaseNotes" value="false"/>
		<add key="PackageReleaseNotes" value=""/>
		<add key="ForcePackageRequireLicenseAcceptance" value="false"/>
		<add key="PackageRequireLicenseAcceptance" value=""/>
		<add key="ForcePackageTags" value="false"/>
		<add key="PackageTags" value=""/>
		<add key="ForceVersion" value="false"/>
		<add key="Version" value=""/>
	</DotNetNuSpecSettings>
</configuration>