<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SuspendHandling" value="false"/>
		<add key="PushToDestination" value="HomeAWEHome3"/>
		<add key="AllowOptionalAppConfig" value="false"/>
		<add key="UseConfigOverride" value="false"/>
		<add key="ConfigOverrideDir" value=""/>
		<add key="ForceVersionOverride" value="false"/>
		<add key="VersionOverride" value=""/>
		<add key="NuGetDir" value="%APPDATA%\NuGet\"/>
		<add key="NuGetExeName" value="NuGet"/>
		<add key="DotNetDir" value="%PROGRAMFILES%\dotnet"/>
		<add key="DotNetName" value="dotnet"/>
		<add key="DotNetVerb" value="nuget"/>
		<add key="UseSimulator" value="false"/>
		<add key="DotNetSimulatorDir" value="%APPDATA%\NuGet\NuGetSimulator\"/>
		<add key="DotNetSimulatorExeName" value="NuGetSimulator.dll"/>
		<add key="NuGetSimulatorDir" value="%APPDATA%\NuGet\NuGetSimulatorFF\"/>
		<add key="NuGetSimulatorExeName" value="NuGetSimulatorFF"/>
		<add key="DefaultVerbosity" value="quiet"/>
		<add key="PackageHomeDir" value="%APPDATA%\NuGet\PackageHome\"/>
		<add key="RequireReleaseNotesFile" value="false"/>
		<add key="ReleaseNotesFileName" value="ReleaseNotes.txt"/>
		<add key="InjectDefaultReleaseNotes" value="true"/>
		<add key="DefaultReleaseNotes" value="No Custom Release Notes for"/>
		<add key="RequireSummaryFile" value="false"/>
		<add key="SummaryFileName" value="Summary.txt"/>
		<!--The DefaultDeleteFileName file will be stored in the PackageHomeDir-->
		<add key="DefaultDeleteFileName" value="DeleteFromNuGet.del"/>
		<add key="UseNuSpecFileIfAvailable" value="false"/>
		<add key="DeleteNuSpecFileAfterProcessing" value="true"/>
		<!--Replaceable Tokens-->
		<add key="BasePath" value=""/>
		<add key="ConfigFile" value=""/>
		<add key="VerbosityDotNet" value="minimal"/>
		<add key="VersionSuffixDotNet" value=""/>
		<add key="Exclude" value=""/>
		<add key="MinBuildVersion" value=""/>
		<add key="MinClientVersion" value=""/>
		<add key="MSBuildPath" value=""/>
		<add key="MSBuildVersion" value=""/>
		<add key="VerbosityNuGet" value="normal"/>
		<add key="VersionSuffixNuGet" value=""/>
		<add key="Properties" value=""/>
		<add key="Root" value=""/>
		<add key="RuntimeIdentifier" value=""/>
		<add key="Timeout" value=""/>
	</appSettings>
	<NuGetNuSpecSettings>
		<add key="ForceAuthors" value="false"/>
		<add key="Authors" value="Authored by Az Web Engineering - Project (NuGetHandler)"/>
		<add key="ForceCopyright" value="false"/>
		<add key="Copyright" value="Copyright © 2012 Az Web Engineering"/>
		<add key="ForceDescription" value="false"/>
		<add key="Description" value="App.config Description."/>
		<add key="ForceIconUrl" value="false"/>
		<add key="IconUrl" value=""/>
		<add key="ForceLicenseUrl" value="false"/>
		<add key="LicenseUrl" value=""/>
		<add key="ForceOwners" value="false"/>
		<add key="Owners" value="Owned By Az Web Engineering"/>
		<add key="ForceProjectUrl" value="false"/>
		<add key="ProjectUrl" value=""/>
		<add key="ForceReleaseNotes" value="false"/>
		<add key="ReleaseNotes" value="App.config Release Notes."/>
		<add key="ForceRequireLicenseAcceptance" value="false"/>
		<add key="RequireLicenseAcceptance" value="false"/>
		<add key="ForceSummary" value="false"/>
		<add key="Summary" value="App.config Summary"/>
		<add key="ForceTags" value="false"/>
		<add key="Tags" value="AWE"/>
		<add key="ForceTitle" value="false"/>
		<add key="Title" value=""/>
		<!-- 
		"Id" and "Version" are handled elsewhere. The "Id" value is left as-is,
		"Version" is handled by the "ForceVersionOverride" and "VersionOverride"
		values as found in the app settings section.
		
		<add key="Id" value=""/>
		<add key="Version" value=""/>
		-->

		<!-- The equivalent values from a .NET Standard 2.0 .csproj 
		
		*** Looks like "Company" equals "Owners" above.
		*** Summary from full framework is NOT supported.
		
		<AssemblyVersion>8.0.0.1</AssemblyVersion>
		<Authors>Az Web Engineering</Authors>
		<Company>Az Web Engineering</Company>
		<Copyright>Copyright © Az Web Engineering</Copyright>
		<Description>Prototype DotNet Standard 2.0 Class Library</Description>
		<FileVersion>9.0.0.1</FileVersion>
		<PackageIconUrl>IconUrl</PackageIconUrl>
		<PackageLicenseUrl>LicenseUrl</PackageLicenseUrl>
		<PackageProjectUrl>ProjectUrl</PackageProjectUrl>
		<PackageReleaseNotes>Initial Release Notes.</PackageReleaseNotes>
		<PackageRequireLicenseAcceptance>true</PackageRequireLicenseAcceptance>
		<PackageTags>AWE Library DotNetCore</PackageTags>
		<Version>3.0.0.1</Version>
		
		-->
		
		<!-- The equivalent values from a .NET Core 2.0 csproj file.
		
		<AssemblyVersion>5.0.0.1</AssemblyVersion>
		<Authors>Authoried by Az Web Engineering</Authors>
		<Company>Company is Authoried by Az Web Engineering</Company>
		<Copyright>Copyright ©  Az Web Engineering 2018</Copyright>
		<Description>External handler for NuGet.exe and dotnet nuget commands.</Description>
		<FileVersion>2.0.0.0</FileVersion>
		<PackageIconUrl>Url</PackageIconUrl>
		<PackageLicenseUrl>LicenseUrl</PackageLicenseUrl>
		<PackageProjectUrl>ProjectUrl</PackageProjectUrl>
		<PackageReleaseNotes>Relase Notes</PackageReleaseNotes>
		<PackageRequireLicenseAcceptance>true</PackageRequireLicenseAcceptance>
		<PackageTags>AWE</PackageTags>
		<Version>4.0.0.1</Version>

		-->

	</NuGetNuSpecSettings>
	<DotNetNuSpecSettings>
		<add key="UseNuGetNuSpecValues" value="false"/>
		<add key="ForceAssemblyVersion" value="false"/>
		<add key="AssemblyVersion" value=""/>
		<add key="ForceAuthors" value="true"/>
		<add key="Authors" value="Az Web Engineering authored this and it's noted in the NuGetHandler app.config file"/>
		<add key="ForceCompany" value="false"/>
		<add key="Company" value=""/>
		<add key="ForceCopyright" value="false"/>
		<add key="Copyright" value=""/>
		<add key="ForceDescription" value="false"/>
		<add key="Description" value=""/>
		<add key="ForceFileVersion" value="false"/>
		<add key="FileVersion" value=""/>
		<add key="ForcePackageIconUrl" value="false"/>
		<add key="PackageIconUrl" value=""/>
		<add key="ForcePackageLicenseUrl" value="false"/>
		<add key="PackageLicenseUrl" value=""/>
		<add key="ForcePackageProjectUrl" value="false"/>
		<add key="PackageProjectUrl" value=""/>
		<add key="ForcePackageReleaseNotes" value="false"/>
		<add key="PackageReleaseNotes" value=""/>
		<add key="ForcePackageRequireLicenseAcceptance" value="false"/>
		<add key="PackageRequireLicenseAcceptance" value=""/>
		<add key="ForcePackageTags" value="false"/>
		<add key="PackageTags" value=""/>
		<add key="ForceVersion" value="false"/>
		<add key="Version" value=""/>
	</DotNetNuSpecSettings>
	<DotNetFullFrameworkCommandSequence>
		<!--All keys must be expressed as lower case values e.g. "spec"-->
		<add key="spec" value='-AssemblyPath "$AssemblyPath$" -force -NonInteractive -verbosity $VerbosityNuGet$'/>
		<add key="pack" value='"$ProjectPath$" -ExcludeEmptyDirectories -IncludeReferencedProjects -OutputDirectory "$OutputPackageTo$" -Verbosity $VerbosityNuGet$ -Version $PackageVersion$'/>
		<add key="push" value='$PackagePath$ -Source $Source$ -ApiKey $ApiKey$ -Verbosity $VerbosityNuGet$ -NonInteractive'/>
		<add key="add" value='$PackagePath$ -Source $Source$ -ApiKey $ApiKey$ -Verbosity $VerbosityNuGet$ -NonInteractive'/>
		<add key="delete" value='$PackageId$ $PackageVersion$ -Source $Source$ -ApiKey $ApiKey$ -NonInteractive-Verbosity $VerbosityNuGet$'/> 
	</DotNetFullFrameworkCommandSequence>
	<DotNetStandard_2_0_CommandSequence>
		<!--All keys must be expressed as lower case values e.g. "spec"-->
		<add key="pack" value='"$ProjectPath$" --configuration $ConfigurationName$ --force --no-build --no-restore --output "$OutputPackageTo$" --serviceable /property:Version=$PackageVersion$ --verbosity $VerbosityDotNet$'/>
		<add key="push" value='"$PackagePath$" --source $Source$ --api-key $ApiKey$'/>
		<add key="delete" value='$PackageId$ $PackageVersion$ --source $Source$ --non-interactive --api-key $ApiKey$'/>
	</DotNetStandard_2_0_CommandSequence>
	<DotNetCore_2_0_CommandSequence>
		<!--All keys must be expressed as lower case values e.g. "spec"-->
		<add key="pack" value='"$ProjectPath$" --configuration $ConfigurationName$ --force --no-build --no-restore --output "$OutputPackageTo$" --serviceable /property:Version=$PackageVersion$ --verbosity $VerbosityDotNet$'/>
		<add key="push" value='"$PackagePath$" --source $Source$ --api-key $ApiKey$'/>
		<add key="delete" value='$PackageId$ $PackageVersion$ --source $Source$ --non-interactive --api-key $ApiKey$'/>
	</DotNetCore_2_0_CommandSequence>
	<NuGetRepos>
		<!--
			The following entries *MUST* come in pairs or quads. Each entry translates
			as follows:
				Path to the NuGet Server
				API Key to the NuGet Server
				Path to the NuGet Symbols Server
				API Key to the NuGet Symbols Server
			
			The entries for the symbol server are optional. Each entry *MUST* be 
			delimited by a semi-colon (;), even if the API Key is blank, it's 
			position *MUST* be delimited by a semi-colon in order for the symbol
			server values to match up correctly.
		--> 
		<!--<add key="LocalVM" value="http://localhost:2017/api/v2/package;{D65D9715-BD9B-4EB9-9A60-CDE6C21E81A1}"/>-->
		<add key="LocalVM" value="http://localhost:2017/nuget;{D65D9715-BD9B-4EB9-9A60-CDE6C21E81A1}"/>
		<add key="HomeAWE" value="http://192.168.1.25/api/v2/package;{F7FF5EEA-1805-45DE-8709-511B83CCF0EC}"/>
		<add key="HomeAWE3" value="http://www.awenugetserver3.com/nuget;{BAF71846-6732-4305-B469-9046B9F42388}"/>
		<add key="localShare" value="c:\Packages2017\LocalRepository"/>
	</NuGetRepos>
	<NuGetDestinations>
		<add key="Default" value="LocalVM;HomeAWE3"/>
		<add key="DefaultTest" value="LocalVM;HomeAWE3;HomeAWE;LocalShare"/>
		<add key="LocalOnly" value="LocalVM"/>
		<add key="HomeAWEHome" value="HomeAWE"/>
		<add key="HomeAWEHome3" value="HomeAWE3"/>
		<add key="LocalShareLocalShare" value="localShare"/>
	</NuGetDestinations>
</configuration>